<div class="container">
    <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="assets/images/ehr.png" alt="" width="72" height="72">
    <h2>Doctor Application</h2>
    <p class="lead">Sample application to doctors for the integration of distributed EHRs using "nested" blockchains.</p>
    </div>

    <div class="row">
    <div class="col-md-4 order-md-2 mb-4" *ngIf="encontrado">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">List of EHRs</span>
        <span class="badge badge-secondary badge-pill"></span>
        </h4>
        <ul class="list-group mb-3">
        <ng-container *ngFor="let ehr of ehrs">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
            <h6 class="my-0">{{ehr.name}}</h6>
            <small class="text-muted">Medical EHR</small><br/>
            <small class="text-muted">{{ehr.type}}</small>
            </div>
            <button class="text-muted" (click)="download(ehr)">Download</button>
        </li>
        </ng-container>
        </ul>
    </div>
    <div class="col-md-8 order-md-1">
        <h4 class="mb-3">Enter the patient's ID</h4>
        <form class="card p-2">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="patient Id" name="patienId" [(ngModel)]="patientId" required>
                <div class="input-group-append">
                <button class="btn btn-secondary" (click)="searchPatient(patientId)">Search</button>
                </div>
            </div>
        </form>
        <hr class="mb-4">

        <ng-container *ngIf="show_no_encontrado==true; else mostrarencontrado">

        </ng-container>
        <ng-template #mostrarencontrado>
            <ng-container *ngIf="encontrado">
                <h4 class="mb-3">Add new EHR</h4>
                <form class="card p-2">
                    <div class="input-group">
                        <input class="form-control" type="file" name="file" (change)="postMethod($event.target.files)">
                        <div class="input-group-append">
                        <button class="btn btn-secondary" (click)="addEHR()">Add</button>
                        </div>
                    </div>
                </form>
            </ng-container>
        </ng-template>

    </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
    <!--<p class="mb-1">&copy; 2017-2018 Company Name</p>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>-->
    </footer>
</div>

